@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
font-family: "Patua One", serif;
letter-spacing: 2px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container-row-center {
    display: flex;
    justify-content: space-between;
}

.flex-container-row {
    display: flex;
    justify-content: space-evenly;
}

.card {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    width: 15vw;
    height: max-content;
}

.dark-background{
    background-color: #2b362e;
    color: #fafcfb;
}

form {
    display: flex;
    justify-content: space-evenly;
    padding: 0.5em;
}